{% extends "base.html" %}

{% block body %}
<h1>Результат запроса "{{ query_type }}":</h1>
    {% if query_type == 'Список преподавателей' %}
        <table>
            <tr>
                <th>Преподаватель ID</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Действия</th>
            </tr>
            {% for row in data %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                    <td><a href="/export/{{ row[0] }}">Выгрузить нагрузку</a></td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}