{% extends "base.html" %}

{% block body %}
    <h1>Данные из CSV-файла</h1>
    <table>
        <thead>
            <tr>
                {% for key in data.fieldnames %}
                <th>{{ key }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                {% for value in row.values() %}
                <td>{{ value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}